


.candidate-picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.table-styling{
  width:100%;
}

td{
  text-align:center;
}

table, th, td {
  border: 1px solid black;
}

.currency{
  font-size:.6rem;
}

.hidden{
  display:none;
}
