

.candidate-row-section{
  width:100%;
  position:absolute;
}

.candidate-info{
  display:flex;
}

.candidate-name{
  display:flex;
  align-items: center;
  width:100%;
}

.last{
  padding-left:.5%;
}
