

.candidate-row-section{
  width:100%;
  position:absolute;
}

.candidate-picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.candidate-info{
  display:flex;
}

.candidate-name{
  display:flex;
  align-items: center;
  width:100%;
  justify-content: space-around;
}

.last{
  padding-left:.5%;
}
