
body{
  overflow: hidden;
  margin:0;
}

.container{
  margin:0% 15%;
}

.main-section{
  display:flex;
  background:#FBFBFD;
  width:100%;
}

.footer-section{
  margin-bottom:25%;
}


.vertical-menu{
  background:#f2f2f2;
  height:100vh;
  width:20%;
}
