.confirmation-modal{
  width:83%;
  height:80vh;
  border:1px solid grey;
  position:fixed;
  top:10%;
  left:9%;
  z-index:4;
  background:lightgrey;
}

.hidden{
  display:none;
}

.candidate-info{
  font-weight:bold;
}

.modal-message{
  font-size:1.4rem;
}

.modal-row{
  margin-top:20%;
  text-align:center;
}
